
.apply-border {
    border: 1px solid red;
}
body {
    background-color: black;
    color: seashell;
    opacity: 0.8;
    box-sizing: border-box;
    font-size: 22px;
    

}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    height: 69px;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid seashell;
}
#tea-logo {
    width: 175px;
    height: 69px;
    float: left;
    background-image: url('./images/img-tea-cozy-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    padding-top: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 375px;
    margin-right: 1em;
    float: right;
}
#placeholder {
    height: 15px;
}
ul {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
}

li {
    display: inline;
}
a {
    color: seashell;
}
#mission-container {
    display: flex;
    background-image: url('./images/img-mission-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 700px;
}
@media only screen and (max-width: 600px) {
    
    header {
        height: 130px;
        overflow: hidden;
    }
    nav {
        height: 69px;
        float: left;
        clear:both;
        width: 100%;
    }
    ul {
        justify-content: left;
        padding-left: .5em;
        font-size: .87em;
    }
    li {
        padding: 0 50px 0 0;
    }
    #last-li {
        padding: 0;
    }
  }